//========== SLIDER ==========
.slider {
  max-width: 144rem;
  margin-bottom: 2rem;
  padding: 6.3rem 16.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  @include respond(tablet-landscape) {
    background-size: 48%;
  }

  @include respond(tablet-portrait) {
    padding: 0;
    background-position: top center;
    background-size: 62% auto;
    align-items: flex-start;
  }

  @include respond(small-tablet) {
    background-size: 75% auto;
  }

  @include respond(mobile) {
    background-size: 100% auto;
  }

  &__slides {
    width: 100%;
    display: flex;

    @include respond(tablet-portrait) {
      margin-top: 3rem;
    }
  }

  &__slide {
    flex: 1 0 100%;
    margin-right: 21.5rem;

    @include respond(tablet-portrait) {
      flex: 1 0 100%;
    }
  }

  &__slide-content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tablet-portrait) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__buttons {
    flex: 0 0 auto;
    width: 11.2rem;
    height: 5.6rem;
    box-shadow: var(--box-shadow-2);
    display: flex;

    position: absolute;
    bottom: 6.5%;
    right: 36%;

    @include respond(tablet-landscape) {
      bottom: 7.5%;
    }

    @include respond(tablet-portrait) {
      top: 34vw;
      right: 50%;
      transform: translateX(50%);
    }

    @include respond(small-tablet) {
      top: 38vw;
    }

    @include respond(mobile) {
      width: 8rem;
      height: 4rem;
      top: 74vw;
    }
  }

  &__button {
    flex: 0 0 50%;
    background-color: var(--red);
    cursor: pointer;

    &--prev {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &--next {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button-icon {
    stroke: #000000;
    transition: stroke 0.2s;
  }

  &__button:hover &__button-icon {
    stroke: var(--white);
  }

  &__button:active &__button-icon {
    stroke: #000000;
  }
}

//========== TESTIMONIAL ==========
.testimonial {
  width: 100%;

  &__text {
    color: #cccccc;
    background-color: #444444;
    padding: 20px 20px 0 25px;
    flex: 0 1 57.2%;
    margin-right: 2%;
    z-index: 1;
    position: relative;

    @include respond(tablet-portrait) {
      order: 1;
      flex: initial;
      margin-right: 4rem;
      margin-top: 4rem;
      text-align: center;
    }

    @include respond(mobile) {
      margin-top: 3rem;
    }
  }

  &__quotation-marks {
    position: absolute;
    top: -6.5rem;
    left: 9.5rem;

    @include respond(tablet-portrait) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include respond(mobile) {
      width: 6rem;
      height: 5rem;
      top: -2.5rem;
    }

    @include respond(small-mobile) {
      width: 4rem;
      height: auto;
      top: -1rem;
    }
  }

  &__quote {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.375;
    margin-bottom: 3.2rem;

    @include respond(tablet-landscape) {
      font-size: 2.5rem;
    }

    @include respond(tablet-portrait) {
      font-size: 3.2rem;
    }

    @include respond(small-tablet) {
      font-size: 2.2rem;
    }

    @include respond(mobile) {
      font-size: 1.8rem;
      margin-bottom: 1.9rem;
    }

    @include respond(small-mobile) {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }
  }

  &__cite {
    font-weight: 700;
    line-height: 48px;
    color: #e11416;
    font-style: normal;

    a {
      color: #e11416;
      text-decoration: none;
    }

    a:hover, a:focus {
      color: var(--white);
    }

    @include respond(small-mobile) {
      line-height: 25px;
    }

    &--name {
      font-weight: 700;
      font-size: 3.2rem;

      @include respond(tablet-landscape) {
        font-size: 2.4rem;
        margin-right: 0;
        display: block;
      }

      @include respond(tablet-portrait) {
        font-size: 3.2rem;
      }

      @include respond(small-tablet) {
        font-size: 2.2rem;
        line-height: 2;
      }

      @include respond(mobile) {
        font-size: 1.5rem;
      }

      @include respond(small-mobile) {
        font-size: 1.2rem;
      }
    }

    &--role {
      color: var(--white);
      font-size: 1.4rem;

      @include respond(small-mobile) {
        font-size: 1rem;
      }
    }
  }

  &__img {
    flex: 0 1 48.65%;

    @include respond(tablet-portrait) {
      flex: initial;
      width: 50%;
    }

    @include respond(small-tablet) {
      width: 60%;
    }

    @include respond(mobile) {
      width: 100%;
    }
  }

  &__photo {
    width: 100%;
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;

    @include respond(tablet-portrait) {
      width: 80%;
    }
  }
}

figure.testimonial {
  @include respond(small-mobile) {
    margin: 1em 20px;
  }
}
