header {
    min-height: 90vh;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
        display: flex;
        justify-content: space-between;
        min-height: 5vh;
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        background-color: #181818b3;


        .menuContainer {
            margin-left: 5%;

            img {
                height: 100%;
            }

        }

        .darkLightContainer {
            width: 10%;
            .switchThemesBtn {
                border: none;
                padding: 0;
                background-color: transparent;
                height: 100%;
    
                i {
                    cursor: pointer;
                    font-size: 3rem;
                    color: #e11416;
                    font-weight: 900;
                }
            }
        }

    }

    h1 {
        position: absolute;
        top: 40%;
        z-index: 20;
        color: #ffffff;
    }

    .headingContainer {
        position: relative;
        background-color: #181818;
        opacity: 95%;
        z-index: 10;
        width: 636px;
        height: 708px;
    
        img {
            position: absolute;
            left: 200px;
            top: 5%;
            width: 236px;
            border-radius: 50%;
        }

        p {
            position: absolute;
            top: 50%;
            left: 8%;
            color: #ffffff;
            margin-bottom: 40px;
        }

        .headerBtn {
            border: none;
            font-size: 2.5rem;
            color: #ffffff;
            background: none;
            border: 3px solid #fff;
            cursor: pointer;
            display: inline-block;
            margin: 15px 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            outline: none;
            position: absolute;
            top: 65%;
            left: 16%;
            transition: all 0.3s;
        }

        .headerBtn:after {
            content: '';
            position: absolute;
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--button-background);
            z-index: -1;
            transition: all 0.3s;
        }

        .headerBtn:hover,
        .headerBtn:active {
            color: #e11416;
        }

        .headerBtn:hover:after,
        .headerBtn:active:after {
            width: 100%;
        }

        .headerBtn a {
            display: inline-block;
            padding: 25px 80px;
            color: #ffffff;
        }

        .headerBtn a:hover, .headerBtn a:active, .headerBtn a:focus {
            color: #e11416;
        }
        
    }
    
    .stylingTitle {
        color: #e11416;
    }
}
