// Media Queries
// Heading Up to Tablet View
@media (max-width: 1024px) {
    header {
        background-position-x: 49%;

        h1 {
            font-size: 5.9rem;
            top: 42%;
        }
    
        .headingContainer {
            width: 550px;
            height: 650px;

            img {
                left: 157px;
            }
            p {
                font-size: 4rem;
            top: 52%;
            }
            .headerBtn {
                left: 12%;
            }
        }

    }
}

// Heading minor breakpoints 
@media (max-width: 849px) {
    header {

        h1 {
            font-size: 4.9rem;
        }
    
        .headingContainer {
            width: 450px;
            height: 600px;

            img {
                left: 125px;
                width: 200px;
            }
            p {
                font-size: 3rem;
                left: 15%;
            }
            .headerBtn {
                left: 7%;
                font-size: 2rem;
            }
        }

    }
} 

// Heading minor breakpoints 
@media (max-width: 700px) {
    header {
        background: url("../assets/tabletBackground.jpg");
        min-height: 65vh;

        .verticalLineOne {
            border-left: 1px solid #484848; 
            height: 10vh; 
            position:absolute; 
            left: 50%; 
            top: 7%;
        }
        .verticalLineTwo {
            border-left: 1px solid #484848; 
            height: 15vh; 
            position:absolute; 
            left: 50%; 
            bottom: 0%;
        }

        h1 {
            font-size: 3.3rem;
            top: 49%;
        }

        .headingContainer {
            width: 400px;
            height: 400px;
            background: transparent;

            img {
                left: 100px;
            }

            p {
                font-size: 2.5rem;
                left: 22%;
                top: 66%;
            }

            .headerBtn {
                left: 21%;
                top: 75%;
                font-size: 1.5rem;

                a {
                    padding: 15px 30px;
                }
            }


        }
    }
}
// Heading mobile breakpoint
@media (max-width: 480px) {
    header {
        min-height: 55vh;

        h1 {
            font-size: 2.2rem;
            top: 47%;
        }

        .headingContainer {

            img {
                width: 150px;
                top: 15%;
                left: 125px;
            }

            p {
                font-size: 2rem;
                left: 24%;
                top: 62%;
            }

            .headerBtn {
                left: 18%;
                top: 68%;
            }


        }

        .verticalLineTwo {
            height: 10vh;
        }
    }
}

// Services Section breakpoints 
@media (max-width: 1200px) {
    .servicesSection .servicesContainer {
        h3 {
            font-size: 2.5rem;
            line-height: 45px;
        }
    }

    .servicesSection .skillsContainer ul {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 1024px) {
    .servicesSection {
        background-position-x: 49%;
    }
}

@media (max-width: 836px) {

    .servicesSection {
        background: url("../assets/tabletServicesSection.jpg");
        background-position-x: 45%;
    
        .verticalTabletMobileViews {
            border-left: 1px solid #484848; 
            height: 49vh; 
            position:absolute; 
            left: 50%; 
            top: 42%;
        }
    }

    .servicesSection .servicesContainer {
        h3 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 700px) {
    .servicesSection {
        background: url("../assets/tabletBackground.jpg");

        .verticalTabletMobileViews {
            height: 73vh; 
            top: 29%;
        }

        .servicesContainer {
            grid-template-columns: 1fr;

            img {
                display: none;
            }
        }
    }
}

@media (max-width: 655px) {
    .servicesSection .skillsContainer {
        margin: 50px 20px 0 20px;

        ul {
            grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
        }

        ul li i {
            font-size: clamp(4rem, 3vw, 6rem);
        }

        ul li span {
            font-size: 1.5rem;
            width: 150px;
        }
    }

    .servicesSection .verticalTabletMobileViews {
        height: 53vh; 
        top: 37%;
    }
}

@media (max-width: 586px) { 
    .servicesSection .verticalTabletMobileViews {
        height: 53vh; 
        bottom: 0%;
        top: 85%;
    }
}

@media (max-width: 534px) { 
    .servicesSection .verticalTabletMobileViews {
        height: 14vh; 
        top: 89%;
    }
}

@media (max-width: 451px) { 
    .servicesSection .verticalTabletMobileViews {
        height: 90vh; 
        top: 42%;
    }
}

@media (max-width: 451px) { 
    .servicesSection .verticalTabletMobileViews {
        display: none;
    }
}

// Projects Section Media Queries
@media (min-width: 1420px) { 
    .carouselSection {
        .slider {
            background-size: 45.4%;
        }
    }
}

@media (max-width: 1419px) { 
    .carouselSection {
        .slider {
            padding: 6.3rem 0.5rem;
            background-size: 49%;
            background-position: bottom 19px right 6.3rem;

            .testimonial {
                margin-left: 100px;
            }

            &__slide {
                flex: 1 0 88%;
            }
            &__testimonial__text {
                padding: 15px 50px;
            }
            &__testimonial__quote {
                width: 100%;
                line-height: 32px;
            }
        }
    }
}

@media (max-width: 1244px) { 
    .testimonial {
        &__text {
            line-height: 18px;
            padding: 15px;
            flex: 0 1 58.2%;
        }
        &__img {
            flex: 0 1 57.65%;
        }
        &__cite--name {
            font-size: 2.2rem;
        }
        &__quote {
            font-size: 1.5rem;
            line-height: 32px;
            width: 100%;
        }
    }
}

@media (max-width: 1024px) { 
    .projectsSection {
        background-position: 49%;
        h2 {
            margin-bottom: 40px;
        }
    }
    
    .carouselSection .slider {
        padding: 0;
        background-position: top center;
        background-size: 62% auto;
        align-items: flex-start;
        &__slides {
            margin-top: 0;
            margin-bottom: 0;
        }
        &__slide {
            flex: 1 0 100%;
        }
        &__slide-content {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &__buttons {
            top: 30vw;
            right: 50%;
            height: 5.2rem;
            transform: translateX(50%);
        }
    }

    .testimonial { 
        width: 100% !important;
        margin: 0 !important;
        &__text {
            padding: 10px 20px;
            margin-top: 0;
            order: 1;
            flex: initial;
            margin-right: 0;
            line-height: 36px;
            width: 70%;
        }
        &__quote {
            font-size: 2rem;
            line-height: 36px;
        }
        &__cite--name {
            font-size: 3rem;
            line-height: 48px;
        }
        &__img {
            flex: initial;
            width: 35%;
        }
        &__photo {
            width: 100%;
        }
    }
}

@media (max-width: 836px) {

    .projectsSection {
        background-image: url("../assets/tabletProjectsSection.jpg");
        background-position-x: 25%;
    
        .verticalTabletMobileViews {
            border-left: 1px solid #484848; 
            height: 13vh; 
            position:absolute; 
            left: 50%; 
            bottom: 0%;
        }
    }

    .carouselSection .slider {
        &__buttons {
            top: 44vw;
            height: 5rem;
        }
    }

    .testimonial { 
        &__quote {
            font-size: 1.6rem;
            line-height: 32px;
        }
        &__cite--name {
            font-size: 2.5rem;
            line-height: 42px;
        }
        &__city--role {
            font-size: 1.3rem;
        }
        &__img {
            width: 50%;
        }
    }
}

@media (max-width: 700px) {
    .projectsSection {
        background: url("../assets/tabletBackground.jpg");

        .verticalTabletMobileViews {
            height: 73vh; 
            top: 29%;
        }
    }

    .carouselSection .slider {
        background-image: none;

        &__buttons {
            height: 4rem;
            width: 10rem;
        }
    }
}

@media (max-width: 571px) {
    .carouselSection .slider {
        &__buttons {
            top: 81vw;
            height: 5rem;
            width: 11rem;
        }
    }

    .testimonial { 
        &__text {
            padding: 10px 15px;
            line-height: 30px;
            width: 90%;
        }
        &__quote {
            font-size: 1.4rem;
        }
        &__cite--name {
            font-size: 1.71rem;
        }
        &__photo {
            width: 90%;
            margin: 0 auto;
        }
        &__img {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .carouselSection .slider {
        &__buttons {
            top: 79vw;
        }
    }
}

@media (max-width: 400px) {
    .carouselSection .slider {
        &__buttons {
            width: 10rem;
            height: 4rem;
        }
    }
}

// About Section Media Queries
@media (max-width: 1313px) {
    .aboutSection .bioContainer .bioDescriptionContainer {
        h3 {
            font-size: 6.2rem;
            margin-bottom: 0;
        }
        p {
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 1200px) {
    .aboutSection .bioContainer .bioDescriptionContainer {
        p {
            width: 75%;
            margin-left: 20%;
        }
    }
}

@media (max-width: 1135px) {
    .aboutSection .bioContainer .bioDescriptionContainer {
        h3 {
            font-size: 5.2rem;
            margin-left: 10%;
        }
        p {
            font-size: 1.8rem;
            width: 77%;
            margin-left: 10%;
        }
    }

    .aboutSection {
        figure img {
            left: 140px;
        }

        .bioContainer .roleContainer {
            right: 44%;
            left: -12%;
        }
    }
}

@media (max-width: 1024px) {

    .aboutSection .bioContainer .bioDescriptionContainer {
        h3 {
            font-size: 5.2rem;
            margin: 10px 0 0 0;
            margin-left: 10%;
        }
        p {
            font-size: 1.8rem;
            width: 83%;
        }
    }

    .aboutSection {
        background-position-x: 49%;

        figure img {
            left: 0;
        }

        .bioContainer {
            position: static;
            left: 34%;
            margin-left: 254px;
        }

        .bioContainer .roleContainer {
            grid-template-columns: 100px 168px;
            position: static;
            margin-left: -350px;
        }
    }
}

@media (max-width: 857px) {

    .aboutSection .bioContainer .bioDescriptionContainer {
        h3 {
            font-size: 4.2rem;
        }
        p {
            font-size: 1.7rem;
        }
    }

    .aboutSection {
        background-position-x: 49%;

        figure img {
            width: 275px;
        }

        .bioContainer {
            margin-left: 172px;
        }
    }
}

@media (max-width: 837px) {
    .aboutSection {
        background-image: url("../assets/tabletAboutSection.jpg");
        background-position-x: 50%;

        .bioContainer .roleContainer {
            margin-left: -314px;
        }
    }
}

@media (max-width: 700px) {
    .aboutSection {
        #myPicture {
            content: url("../assets/aboutMePictureMobile.jpg") !important;
            width: 100%;
            height: 40%;
            object-position: 0 33%;
        }

        h2 {
            margin-left: 0;
            padding-top: 0;
        }
    }

    .aboutSection .bioContainer .bioDescriptionContainer {
        position: absolute;
        bottom: 6%;
        left: 0;

        h3 {
            margin: 0 auto;
            width: 83%;
            line-height: 60px;
        }
        p {
            font-size: 1.7rem;
            margin: 0 auto;
        }
    }

    .aboutSection {
        background-position-x: 49%;

        figure img {
            width: 275px;
            top: 35px;
        }

        .bioContainer {
            position: absolute;
            margin-left: 0;
            width: 100%;
            left: 0;
            bottom: 0;
        }

        .roleContainer {
            margin-left: 0 !important;
            grid-template-columns: 250px !important;
            position: absolute !important;
            left: 0 !important;
            top: 31% !important;

            img {
                display: none !important;
            }

            h4 {
                margin: 0 auto !important;
            }
        }
    }
}

@media (max-width: 579px) {
    .aboutSection {
        background-image: url("../assets/tabletBackground.jpg");

        #myPicture {
            height: 37%;
        }

        .bioContainer {
            bottom: 10% !important;
        }

        .roleContainer {
            left: -1% !important;
            top: 31% !important;
        }
    }

    .aboutSection .bioContainer .bioDescriptionContainer {
        bottom: 2% !important;

        h3 {
            margin: 0 auto;
            width: 83%;
            line-height: 50px !important;
        }
        p {
            line-height: 32px !important;
        }
        p:nth-child(3) {
           margin-top: 10px !important; 
        }
    }
}

@media (max-width: 515px) {
    .aboutSection .bioContainer .bioDescriptionContainer {
        bottom: -3% !important;
    }
}

@media (max-width: 480px) {
    .aboutSection {

        .roleContainer {
            left: -3% !important;
            top: 32% !important;
        }
        
        .bioContainer .bioDescriptionContainer {
            bottom: -4% !important;

            p {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 3.5rem;
            }
        }
    }
}

@media (max-width: 425px) {
    .aboutSection .bioContainer .bioDescriptionContainer {
        bottom: -8% !important;
    }
}

@media (max-width: 383px) {
    .aboutSection {
        #myPicture {
            height: 34%;
        }
        .roleContainer {
            top: 27% !important;
        }
        .bioContainer .bioDescriptionContainer {
            p {
                width: 85%;
                font-size: 1.4rem;
            }
            h3 {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width: 344px) {
    .aboutSection .bioContainer .bioDescriptionContainer {
        bottom: -13% !important;
        h3 {
            font-size: 2.5rem;
        }
    }
}

// Contact Section Media Queries 
@media (max-width: 1100px) {
    .contactSection {
        background-image: url("../assets/contactSmallDesktopBackground.jpg");
        .formSection h3 {
            margin: 0 auto;
        }
        .contactMiddleContainer p {
            font-size: 16rem;
        }
        .getInTouch h4, .getInTouch p, .getInTouch ul li {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 942px) {
    .contactSection {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1.5fr;
        min-height: 80vh;
        gap: 0;

        h2 {
            left: 44%;
            padding-top: 25px;
            font-size: 3rem;
        }

        .getInTouch {
            padding: 10rem 0 5rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h4, p, ul li {
                font-size: 2.2rem;
            }
        }

        .contactMiddleContainer {
            margin-right: 0;
            justify-content: center;
        }

        .formSection {

            h3 {
                margin-bottom: 40px;
            }

            .formDetails #name, .formDetails #email, .formDetails #message,
            .formDetails button {
                width: 60%;
            }

            .formDetails button:hover, .formDetails button:focus {
                color: red;
            }

        }

    }
}

@media (max-width: 642px) {
    .contactSection {
        .contactMiddleContainer p {
            font-size: 12rem;
        }
        h2 {
            left: 37%;
        }
    }
}

@media (max-width: 497px) {
    .contactSection {
        .contactMiddleContainer p {
            font-size: 9rem;
        }

        .formSection .formDetails #name, .formSection .formDetails #email, .formSection .formDetails #message, .formSection .formDetails button {
            width: 80%;
        }
    }
}

@media (max-width: 382px) {
    .contactSection {
        .contactMiddleContainer p {
            font-size: 6rem;
        }

        .getInTouch h4, .getInTouch p, .getInTouch ul li {
            font-size: 1.5rem;
        }

        .formSection h3 {
            margin-bottom: 20px;
            font-size: 2.5rem;
        }
    }
}

// Navigation Page Media Queries
@media (max-width: 1200px) {
    .navOverlayHeaderPage {
        .getInTouchOverlayPage div {
            margin-right: 5%;
        }
    }
}

@media (max-width: 1085px) {
    .navOverlayHeaderPage .getInTouchOverlayPage div {
        margin-right: 2%;
    }
    .wrapper {
        width: 95%;
    }
}

@media (max-width: 940px) {
    .navOverlayHeaderPage .getInTouchOverlayPage {
        position: unset;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .wrapper {
        width: 90%;
    }
    .navOverlayHeaderPage ul {
        margin-bottom: 3%;
    }
}

@media (max-width: 790px) {
    .navOverlayHeaderPage a {
        font-size: 5.2rem;
    }
}

@media (max-width: 575px) {
    .navOverlayHeaderPage a {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    .navOverlayHeaderPage {
        nav {
            justify-content: center;
            text-align: center;
        }
        a {
            font-size: 4rem;
        }
        .getInTouchOverlayPage .emailContainer {
            margin-left: 0;
        }
    }
}

@media (max-width: 440px) {
    .navOverlayHeaderPage a{
        font-size: 3.5rem;
    }
}

@media (max-width: 340px) {
    .navOverlayHeaderPage .getInTouchOverlayPage{
        p, a {
            font-size: 1.7rem;
        }
    }
}
