// Media Queries
// Heading Up to Tablet View
@media (max-width: 1024px) {
    header {
        background-position-x: 49%;

        h1 {
            font-size: 5.9rem;
            top: 42%;
        }
    
        .headingContainer {
            width: 550px;
            height: 650px;

            img {
                left: 157px;
            }
            p {
                font-size: 4rem;
            top: 52%;
            }
            .headerBtn {
                left: 12%;
            }
        }

    }
}

// Heading minor breakpoints 
@media (max-width: 849px) {
    header {

        h1 {
            font-size: 4.9rem;
        }
    
        .headingContainer {
            width: 450px;
            height: 600px;

            img {
                left: 125px;
                width: 200px;
            }
            p {
                font-size: 3rem;
                left: 15%;
            }
            .headerBtn {
                left: 7%;
                font-size: 2rem;
            }
        }

    }
} 

// Heading minor breakpoints 
@media (max-width: 700px) {
    header {
        background: url("../assets/tabletBackground.jpg");
        min-height: 65vh;

        .verticalLineOne {
            border-left: 1px solid #484848; 
            height: 10vh; 
            position:absolute; 
            left: 50%; 
            top: 7%;
        }
        .verticalLineTwo {
            border-left: 1px solid #484848; 
            height: 15vh; 
            position:absolute; 
            left: 50%; 
            bottom: 0%;
        }

        h1 {
            font-size: 3.3rem;
            top: 49%;
        }

        .headingContainer {
            width: 400px;
            height: 400px;
            background: transparent;

            img {
                left: 100px;
            }

            p {
                font-size: 2.5rem;
                left: 22%;
                top: 66%;
            }

            .headerBtn {
                left: 21%;
                top: 75%;
                font-size: 1.5rem;

                a {
                    padding: 15px 30px;
                }
            }


        }
    }
}
// Heading mobile breakpoint
@media (max-width: 480px) {
    header {
        min-height: 55vh;

        h1 {
            font-size: 2.2rem;
            top: 47%;
        }

        .headingContainer {

            img {
                width: 150px;
                top: 15%;
                left: 125px;
            }

            p {
                font-size: 2rem;
                left: 24%;
                top: 62%;
            }

            .headerBtn {
                left: 18%;
                top: 68%;
            }


        }

        .verticalLineTwo {
            height: 10vh;
        }
    }
}

// Services Section breakpoints 
@media (max-width: 1200px) {
    .servicesSection .servicesContainer {
        h3 {
            font-size: 2.5rem;
            line-height: 45px;
        }
    }

    .servicesSection .skillsContainer ul {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 1024px) {
    .servicesSection {
        background-position-x: 49%;
    }
}

@media (max-width: 836px) {

    .servicesSection {
        background: url("../assets/tabletServicesSection.jpg");
        background-position-x: 45%;
    
        .verticalTabletMobileViews {
            border-left: 1px solid #484848; 
            height: 49vh; 
            position:absolute; 
            left: 50%; 
            top: 42%;
        }
    }

    .servicesSection .servicesContainer {
        h3 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 700px) {
    .servicesSection {
        background: url("../assets/tabletBackground.jpg");

        .verticalTabletMobileViews {
            height: 73vh; 
            top: 29%;
        }

        .servicesContainer {
            grid-template-columns: 1fr;

            img {
                display: none;
            }
        }
    }
}

@media (max-width: 655px) {
    .servicesSection .skillsContainer {
        margin: 50px 20px 0 20px;

        ul {
            grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
        }

        ul li i {
            font-size: clamp(4rem, 3vw, 6rem);
        }

        ul li span {
            font-size: 1.5rem;
            width: 150px;
        }
    }

    .servicesSection .verticalTabletMobileViews {
        height: 53vh; 
        top: 37%;
    }
}

@media (max-width: 586px) { 
    .servicesSection .verticalTabletMobileViews {
        height: 53vh; 
        bottom: 0%;
        top: 85%;
    }
}

@media (max-width: 534px) { 
    .servicesSection .verticalTabletMobileViews {
        height: 14vh; 
        top: 89%;
    }
}

@media (max-width: 451px) { 
    .servicesSection .verticalTabletMobileViews {
        height: 90vh; 
        top: 42%;
    }
}

@media (max-width: 451px) { 
    .servicesSection .verticalTabletMobileViews {
        display: none;
    }
}

// Projects Section Media Queries
@media (min-width: 1420px) { 
    .carouselSection {
        .slider {
            background-size: 45.4%;
        }
    }
}

@media (max-width: 1419px) { 
    .carouselSection {
        .slider {
            padding: 6.3rem 0.5rem;
            background-size: 49%;
            background-position: bottom 19px right 6.3rem;

            .testimonial {
                margin-left: 100px;
            }

            &__slide {
                flex: 1 0 88%;
            }
            &__testimonial__text {
                padding: 15px 50px;
            }
            &__testimonial__quote {
                width: 100%;
                line-height: 32px;
            }
        }
    }
}

@media (max-width: 1244px) { 
    .testimonial {
        &__text {
            line-height: 18px;
            padding: 15px;
            flex: 0 1 58.2%;
        }
        &__img {
            flex: 0 1 57.65%;
        }
        &__cite--name {
            font-size: 2.2rem;
        }
        &__quote {
            font-size: 1.5rem;
            line-height: 32px;
            width: 100%;
        }
    }
}

@media (max-width: 1024px) { 
    .projectsSection {
        background-position: 49%;
        h2 {
            margin-bottom: 40px;
        }
    }
    
    .carouselSection .slider {
        padding: 0;
        background-position: top center;
        background-size: 62% auto;
        align-items: flex-start;
        &__slides {
            margin-top: 0;
            margin-bottom: 0;
        }
        &__slide {
            flex: 1 0 100%;
        }
        &__slide-content {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &__buttons {
            top: 30vw;
            right: 50%;
            height: 5.2rem;
            transform: translateX(50%);
        }
    }

    .testimonial { 
        width: 100% !important;
        margin: 0 !important;
        &__text {
            padding: 10px 20px;
            margin-top: 0;
            order: 1;
            flex: initial;
            margin-right: 0;
            line-height: 36px;
            width: 70%;
        }
        &__quote {
            font-size: 2rem;
            line-height: 36px;
        }
        &__cite--name {
            font-size: 3rem;
            line-height: 48px;
        }
        &__img {
            flex: initial;
            width: 35%;
        }
        &__photo {
            width: 100%;
        }
    }
}

@media (max-width: 836px) {

    .projectsSection {
        background-image: url("../assets/tabletProjectsSection.jpg");
        background-position-x: 25%;
    
        .verticalTabletMobileViews {
            border-left: 1px solid #484848; 
            height: 13vh; 
            position:absolute; 
            left: 50%; 
            bottom: 0%;
        }
    }

    .carouselSection .slider {
        &__buttons {
            top: 44vw;
            height: 5rem;
        }
    }

    .testimonial { 
        &__quote {
            font-size: 1.6rem;
            line-height: 32px;
        }
        &__cite--name {
            font-size: 2.5rem;
            line-height: 42px;
        }
        &__city--role {
            font-size: 1.3rem;
        }
        &__img {
            width: 50%;
        }
    }
}

@media (max-width: 700px) {
    .projectsSection {
        background: url("../assets/tabletBackground.jpg");

        .verticalTabletMobileViews {
            height: 73vh; 
            top: 29%;
        }
    }

    .carouselSection .slider {
        background-image: none;

        &__buttons {
            height: 4rem;
            width: 10rem;
        }
    }
}

@media (max-width: 571px) {
    .carouselSection .slider {
        &__buttons {
            top: 81vw;
            height: 5rem;
            width: 11rem;
        }
    }

    .testimonial { 
        &__text {
            padding: 10px 15px;
            line-height: 30px;
            width: 90%;
        }
        &__quote {
            font-size: 1.4rem;
        }
        &__cite--name {
            font-size: 1.71rem;
        }
        &__photo {
            width: 90%;
            margin: 0 auto;
        }
        &__img {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .carouselSection .slider {
        &__buttons {
            top: 79vw;
        }
    }
}

@media (max-width: 400px) {
    .carouselSection .slider {
        &__buttons {
            width: 10rem;
            height: 4rem;
        }
    }
}

// About Section Media Queries
@media (max-width: 1313px) {
    .aboutSection .bioContainer .bioDescriptionContainer {
        h3 {
            font-size: 6.2rem;
            margin-bottom: 0;
        }
        p {
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 1200px) {
    .aboutSection .bioContainer .bioDescriptionContainer {
        p {
            width: 75%;
            margin-left: 20%;
        }
    }
}

@media (max-width: 1135px) {
    .aboutSection .bioContainer .bioDescriptionContainer {
        h3 {
            font-size: 5.2rem;
            margin-left: 10%;
        }
        p {
            font-size: 1.8rem;
            width: 77%;
            margin-left: 10%;
        }
    }

    .aboutSection {
        figure img {
            left: 140px;
        }

        .bioContainer .roleContainer {
            right: 44%;
        }
    }
}



// * {
//     border: 1px solid red;
// }