// projects section general styles 
.projectsSection {
    min-height: 90vh;
    width: 100%;
    background-image: url("../assets/projectsSectionBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    position: relative;
    
    .carouselSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .testimonial__cite a {
            color: #e11416;
        }

        .testimonial__cite--role {
            display: block;
        }
    }
}