.projectsSection {
    min-height: 100vh;
    width: 100%;
    background-image: url("../assets/projectsSection.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    
    .carouselSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .testimonial__cite a {
            color: #e11416;
        }

        .testimonial__cite--role {
            display: block;
        }

        @include respond(tablet-landscape) {
            height: auto;
        }

        @include respond(tablet-portrait) {
            padding: 4rem 8rem;
            background-size: 76%;
        }

        @include respond(mobile) {
            padding: 2.4rem;
            align-items: flex-start;
        }
    }
}