html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  /** COLORS **/
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --dark-grayish-blue:#8585AC;
  --button-background: #ffffff;
  /** SHADOWS **/
  --box-shadow-1: 0 4rem 5rem -3rem rgba(36,36,113,0.50);
  --box-shadow-2: 0 1.5rem 2rem -1rem rgba(36,36,113,0.10);
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 7.2rem;
  line-height: 9.6rem;
}

p {
  font-size: 5.2rem;
}

h2 {
  font-size: 2.4rem;
  color: #e11416;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
}

header {
  min-height: 90vh;
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: #181818b3;
}

header nav .menuContainer {
  margin-left: 5%;
}

header nav .menuContainer img {
  height: 100%;
}

header nav .darkLightContainer {
  width: 10%;
}

header nav .darkLightContainer .switchThemesBtn {
  border: none;
  padding: 0;
  background-color: transparent;
  height: 100%;
}

header nav .darkLightContainer .switchThemesBtn i {
  cursor: pointer;
  font-size: 3rem;
  color: #e11416;
  font-weight: 900;
}

header h1 {
  position: absolute;
  top: 40%;
  z-index: 20;
  color: #ffffff;
}

header .headingContainer {
  position: relative;
  background-color: #181818;
  opacity: 95%;
  z-index: 10;
  width: 636px;
  height: 708px;
}

header .headingContainer img {
  position: absolute;
  left: 200px;
  top: 5%;
  width: 236px;
  border-radius: 50%;
}

header .headingContainer p {
  position: absolute;
  top: 50%;
  left: 8%;
  color: #ffffff;
  margin-bottom: 40px;
}

header .headingContainer .headerBtn {
  border: none;
  font-size: 2.5rem;
  color: #ffffff;
  background: none;
  border: 3px solid #fff;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: absolute;
  top: 65%;
  left: 16%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .headingContainer .headerBtn:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--button-background);
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .headingContainer .headerBtn:hover,
header .headingContainer .headerBtn:active {
  color: #e11416;
}

header .headingContainer .headerBtn:hover:after,
header .headingContainer .headerBtn:active:after {
  width: 100%;
}

header .headingContainer .headerBtn a {
  display: inline-block;
  padding: 25px 80px;
  color: #ffffff;
}

header .headingContainer .headerBtn a:hover, header .headingContainer .headerBtn a:active, header .headingContainer .headerBtn a:focus {
  color: #e11416;
}

header .stylingTitle {
  color: #e11416;
}

.navOverlayHeaderPage {
  min-height: 100vh;
  background-image: url("../assets/navOverlayBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navOverlayHeaderPage ul {
  margin-top: 13%;
}

.navOverlayHeaderPage li {
  margin-bottom: 40px;
}

.navOverlayHeaderPage a {
  font-size: 72px;
  color: #ffffff;
  font-weight: 700;
}

.navOverlayHeaderPage a:hover, .navOverlayHeaderPage a:focus {
  color: #e11416;
}

.navOverlayHeaderPage .getInTouchOverlayPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.navOverlayHeaderPage .getInTouchOverlayPage div {
  margin-right: 80px;
}

.navOverlayHeaderPage .getInTouchOverlayPage .emailContainer {
  margin-left: 40px;
}

.navOverlayHeaderPage .getInTouchOverlayPage .aboutMeIconsOverlayPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}

.navOverlayHeaderPage .getInTouchOverlayPage .aboutMeIconsOverlayPage li {
  margin-bottom: 20px;
}

.navOverlayHeaderPage .getInTouchOverlayPage p {
  margin: 20px 0;
}

.navOverlayHeaderPage .getInTouchOverlayPage h4 {
  font-size: 2rem;
  color: #cccccc;
  font-weight: 500;
}

.navOverlayHeaderPage .getInTouchOverlayPage p, .navOverlayHeaderPage .getInTouchOverlayPage a {
  font-size: 2rem;
  color: #e11416;
  font-weight: 700;
}

.navOverlayHeaderPage .getInTouchOverlayPage a:hover, .navOverlayHeaderPage .getInTouchOverlayPage a:focus {
  color: #ffffff;
}

.servicesSection {
  min-height: 90vh;
  background-image: url("../assets/servicesAndToolsSection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.servicesSection .servicesContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
  color: #ffffff;
  margin-top: 40px;
}

.servicesSection .servicesContainer img {
  margin-top: 25px;
}

.servicesSection .servicesContainer h3 {
  font-weight: 500;
}

.servicesSection .servicesContainer h3 {
  font-size: 3.2rem;
  line-height: 54px;
}

.servicesSection .skillsContainer {
  margin: 50px 100px 0 100px;
}

.servicesSection .skillsContainer ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

.servicesSection .skillsContainer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cccccc;
  font-weight: 500;
}

.servicesSection .skillsContainer ul li i {
  color: #ffffff;
  font-size: clamp(6rem, 3vw, 6rem);
}

.servicesSection .skillsContainer ul li span {
  color: #ffffff;
  font-size: 1.8rem;
  margin-top: 20px;
  width: 250px;
  text-align: center;
}

.animate-in {
  -webkit-animation: fadeIn .5s ease-in;
  animation: fadeIn .5s ease-in;
}

.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideInNext {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInNext {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInPrev {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInPrev {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideOutNext {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  70% {
    opacity: 0;
    display: none;
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes slideOutNext {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  70% {
    opacity: 0;
    display: none;
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
}

.slider {
  max-width: 144rem;
  margin-bottom: 2rem;
  padding: 6.3rem 16.5rem;
  background-image: url(../assets/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: 48.4%;
  background-position: bottom 0px right 7.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.slider__slides {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-right: 21.5rem;
}

.slider__slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 11.2rem;
  height: 5.6rem;
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 6.5%;
  right: 36%;
}

.slider__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-color: #000000;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__button--prev {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.slider__button--next {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.slider__button-icon {
  stroke: #e11416;
  -webkit-transition: stroke 0.2s;
  transition: stroke 0.2s;
}

.slider__button:hover .slider__button-icon {
  stroke: var(--grayish-blue);
}

.slider__button:active .slider__button-icon {
  stroke: var(--dark-grayish-blue);
}

.testimonial {
  width: 100%;
}

.testimonial__text {
  font-size: 2rem;
  line-height: 36px;
  color: #cccccc;
  background-color: #444444;
  padding: 15px 60px;
  font-weight: 500;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57.2%;
          flex: 0 1 57.2%;
  margin-right: -5.8%;
  z-index: 1;
  position: relative;
}

.testimonial__quotation-marks {
  position: absolute;
  top: -6.5rem;
  left: 9.5rem;
}

.testimonial__quote {
  font-size: 2rem;
  line-height: 36px;
  color: #cccccc;
  font-weight: 500;
  width: 89%;
  margin-bottom: 3.2rem;
}

.testimonial__cite {
  font-size: 2rem;
  font-style: normal;
}

.testimonial__cite--name {
  font-size: 3.2rem;
  line-height: 48px;
  color: #e11416;
  font-weight: 700;
  margin-right: 8px;
}

.testimonial__cite--name a:hover, .testimonial__cite--name a:focus {
  color: #ffffff !important;
}

.testimonial__cite--role {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 700;
}

.testimonial__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.65%;
          flex: 0 1 48.65%;
}

.testimonial__photo {
  width: 90%;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  border-radius: 5px;
}

.projectsSection {
  min-height: 90vh;
  width: 100%;
  background-image: url("../assets/projectsSectionBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.projectsSection .carouselSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectsSection .carouselSection .testimonial__cite a {
  color: #e11416;
}

.projectsSection .carouselSection .testimonial__cite--role {
  display: block;
}

.aboutSection {
  min-height: 90vh;
  width: 100%;
  background-image: url("../assets/aboutSection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.aboutSection h2 {
  position: absolute;
  z-index: 30;
  margin-left: 15px;
}

.aboutSection figure img {
  position: absolute;
  width: 34%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 254px;
  top: 0;
  opacity: 0.8;
  z-index: 20;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.aboutSection .bioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 40;
  top: 20%;
  left: 48%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutSection .bioContainer .roleContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
  position: absolute;
  top: 0%;
  left: 0%;
}

.aboutSection .bioContainer .roleContainer h4 {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 700;
  margin-left: 20px;
}

.aboutSection .bioContainer .roleContainer img {
  width: 100%;
  height: 1px;
  margin-top: 7px;
}

.aboutSection .bioContainer .bioDescriptionContainer h3 {
  font-size: 7.2rem;
  margin: 30px 0 60px 0;
  line-height: 96px;
  color: #e11416;
  font-weight: 700;
}

.aboutSection .bioContainer .bioDescriptionContainer p {
  width: 60%;
  margin-left: 10rem;
  font-size: 2rem;
  line-height: 36px;
  color: #cccccc;
  font-weight: 500;
}

.aboutSection .bioContainer .bioDescriptionContainer p:nth-child(2) {
  color: #ffffff;
}

.aboutSection .bioContainer .bioDescriptionContainer p:nth-child(3) {
  margin-top: 40px;
  color: #ffffff;
}

.contactSection {
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/contactSection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  gap: 25px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.contactSection h2 {
  position: absolute;
  left: 50%;
}

.contactSection .contactMiddleContainer {
  background-color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: -25px;
}

.contactSection .contactMiddleContainer p {
  font-size: 20rem;
  color: #e11416;
  font-weight: 500;
}

.contactSection .formSection {
  background-color: #e11416;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactSection .formSection h3 {
  font-size: 3.2rem;
  line-height: 54px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin: 0 80px 40px 0;
}

.contactSection .formSection .formDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactSection .formSection .formDetails #name, .contactSection .formSection .formDetails #email, .contactSection .formSection .formDetails #message, .contactSection .formSection .formDetails button {
  font-size: 1.4rem;
  color: #ffffff;
  border: none;
  width: 65%;
}

.contactSection .formSection .formDetails #name, .contactSection .formSection .formDetails #email, .contactSection .formSection .formDetails #message {
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #e11416;
  border-bottom: 1px solid #ffffff;
}

.contactSection .formSection .formDetails #name:hover, .contactSection .formSection .formDetails #email:hover, .contactSection .formSection .formDetails #message:hover, .contactSection .formSection .formDetails #name:focus, .contactSection .formSection .formDetails #email:focus, .contactSection .formSection .formDetails #message:focus {
  background-color: rgba(190, 190, 193, 0.3);
}

.contactSection .formSection .formDetails #message {
  resize: none;
}

.contactSection .formSection .formDetails button {
  font-weight: 700;
  background-color: #181818;
  height: 60px;
}

.contactSection .formSection .formDetails button:hover, .contactSection .formSection .formDetails button:focus {
  background-color: #c4c4c4;
  cursor: pointer;
}

.contactSection .getInTouch {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 40px;
}

.contactSection .getInTouch h4, .contactSection .getInTouch p, .contactSection .getInTouch ul li {
  font-size: 2rem;
  text-align: right;
}

.contactSection .getInTouch h4 {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 5px;
}

.contactSection .getInTouch p {
  margin-bottom: 40px;
}

.contactSection .getInTouch p, .contactSection .getInTouch a {
  font-weight: 700;
  color: #e11416;
}

.contactSection .getInTouch ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contactSection .getInTouch ul li {
  margin-left: 10px;
}

.contactSection .getInTouch a:hover, .contactSection .getInTouch a:focus {
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header {
    background-position-x: 49%;
  }
  header h1 {
    font-size: 5.9rem;
    top: 42%;
  }
  header .headingContainer {
    width: 550px;
    height: 650px;
  }
  header .headingContainer img {
    left: 157px;
  }
  header .headingContainer p {
    font-size: 4rem;
    top: 52%;
  }
  header .headingContainer .headerBtn {
    left: 12%;
  }
}

@media (max-width: 849px) {
  header h1 {
    font-size: 4.9rem;
  }
  header .headingContainer {
    width: 450px;
    height: 600px;
  }
  header .headingContainer img {
    left: 125px;
    width: 200px;
  }
  header .headingContainer p {
    font-size: 3rem;
    left: 15%;
  }
  header .headingContainer .headerBtn {
    left: 7%;
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  header {
    background: url("../assets/tabletBackground.jpg");
    min-height: 65vh;
  }
  header .verticalLineOne {
    border-left: 1px solid #484848;
    height: 10vh;
    position: absolute;
    left: 50%;
    top: 7%;
  }
  header .verticalLineTwo {
    border-left: 1px solid #484848;
    height: 15vh;
    position: absolute;
    left: 50%;
    bottom: 0%;
  }
  header h1 {
    font-size: 3.3rem;
    top: 49%;
  }
  header .headingContainer {
    width: 400px;
    height: 400px;
    background: transparent;
  }
  header .headingContainer img {
    left: 100px;
  }
  header .headingContainer p {
    font-size: 2.5rem;
    left: 22%;
    top: 66%;
  }
  header .headingContainer .headerBtn {
    left: 21%;
    top: 75%;
    font-size: 1.5rem;
  }
  header .headingContainer .headerBtn a {
    padding: 15px 30px;
  }
}

@media (max-width: 480px) {
  header {
    min-height: 55vh;
  }
  header h1 {
    font-size: 2.2rem;
    top: 47%;
  }
  header .headingContainer img {
    width: 150px;
    top: 15%;
    left: 125px;
  }
  header .headingContainer p {
    font-size: 2rem;
    left: 24%;
    top: 62%;
  }
  header .headingContainer .headerBtn {
    left: 18%;
    top: 68%;
  }
  header .verticalLineTwo {
    height: 10vh;
  }
}

@media (max-width: 1200px) {
  .servicesSection .servicesContainer h3 {
    font-size: 2.5rem;
    line-height: 45px;
  }
  .servicesSection .skillsContainer ul {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 1024px) {
  .servicesSection {
    background-position-x: 49%;
  }
}

@media (max-width: 836px) {
  .servicesSection {
    background: url("../assets/tabletServicesSection.jpg");
    background-position-x: 45%;
  }
  .servicesSection .verticalTabletMobileViews {
    border-left: 1px solid #484848;
    height: 49vh;
    position: absolute;
    left: 50%;
    top: 42%;
  }
  .servicesSection .servicesContainer h3 {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .servicesSection {
    background: url("../assets/tabletBackground.jpg");
  }
  .servicesSection .verticalTabletMobileViews {
    height: 73vh;
    top: 29%;
  }
  .servicesSection .servicesContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .servicesSection .servicesContainer img {
    display: none;
  }
}

@media (max-width: 655px) {
  .servicesSection .skillsContainer {
    margin: 50px 20px 0 20px;
  }
  .servicesSection .skillsContainer ul {
    -ms-grid-columns: (minmax(125px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }
  .servicesSection .skillsContainer ul li i {
    font-size: clamp(4rem, 3vw, 6rem);
  }
  .servicesSection .skillsContainer ul li span {
    font-size: 1.5rem;
    width: 150px;
  }
  .servicesSection .verticalTabletMobileViews {
    height: 53vh;
    top: 37%;
  }
}

@media (max-width: 586px) {
  .servicesSection .verticalTabletMobileViews {
    height: 53vh;
    bottom: 0%;
    top: 85%;
  }
}

@media (max-width: 534px) {
  .servicesSection .verticalTabletMobileViews {
    height: 14vh;
    top: 89%;
  }
}

@media (max-width: 451px) {
  .servicesSection .verticalTabletMobileViews {
    height: 90vh;
    top: 42%;
  }
}

@media (max-width: 451px) {
  .servicesSection .verticalTabletMobileViews {
    display: none;
  }
}

@media (min-width: 1420px) {
  .carouselSection .slider {
    background-size: 45.4%;
  }
}

@media (max-width: 1419px) {
  .carouselSection .slider {
    padding: 6.3rem 0.5rem;
    background-size: 49%;
    background-position: bottom 19px right 6.3rem;
  }
  .carouselSection .slider .testimonial {
    margin-left: 100px;
  }
  .carouselSection .slider__slide {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 88%;
            flex: 1 0 88%;
  }
  .carouselSection .slider__testimonial__text {
    padding: 15px 50px;
  }
  .carouselSection .slider__testimonial__quote {
    width: 100%;
    line-height: 32px;
  }
}

@media (max-width: 1244px) {
  .testimonial__text {
    line-height: 18px;
    padding: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.2%;
            flex: 0 1 58.2%;
  }
  .testimonial__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 57.65%;
            flex: 0 1 57.65%;
  }
  .testimonial__cite--name {
    font-size: 2.2rem;
  }
  .testimonial__quote {
    font-size: 1.5rem;
    line-height: 32px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .projectsSection {
    background-position: 49%;
  }
  .projectsSection h2 {
    margin-bottom: 40px;
  }
  .carouselSection .slider {
    padding: 0;
    background-position: top center;
    background-size: 62% auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .carouselSection .slider__slides {
    margin-top: 0;
    margin-bottom: 0;
  }
  .carouselSection .slider__slide {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .carouselSection .slider__slide-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carouselSection .slider__buttons {
    top: 30vw;
    right: 50%;
    height: 5.2rem;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .testimonial {
    width: 100% !important;
    margin: 0 !important;
  }
  .testimonial__text {
    padding: 10px 20px;
    margin-top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-right: 0;
    line-height: 36px;
    width: 70%;
  }
  .testimonial__quote {
    font-size: 2rem;
    line-height: 36px;
  }
  .testimonial__cite--name {
    font-size: 3rem;
    line-height: 48px;
  }
  .testimonial__img {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    width: 35%;
  }
  .testimonial__photo {
    width: 100%;
  }
}

@media (max-width: 836px) {
  .projectsSection {
    background-image: url("../assets/tabletProjectsSection.jpg");
    background-position-x: 25%;
  }
  .projectsSection .verticalTabletMobileViews {
    border-left: 1px solid #484848;
    height: 13vh;
    position: absolute;
    left: 50%;
    bottom: 0%;
  }
  .carouselSection .slider__buttons {
    top: 44vw;
    height: 5rem;
  }
  .testimonial__quote {
    font-size: 1.6rem;
    line-height: 32px;
  }
  .testimonial__cite--name {
    font-size: 2.5rem;
    line-height: 42px;
  }
  .testimonial__city--role {
    font-size: 1.3rem;
  }
  .testimonial__img {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .projectsSection {
    background: url("../assets/tabletBackground.jpg");
  }
  .projectsSection .verticalTabletMobileViews {
    height: 73vh;
    top: 29%;
  }
  .carouselSection .slider {
    background-image: none;
  }
  .carouselSection .slider__buttons {
    height: 4rem;
    width: 10rem;
  }
}

@media (max-width: 571px) {
  .carouselSection .slider__buttons {
    top: 81vw;
    height: 5rem;
    width: 11rem;
  }
  .testimonial__text {
    padding: 10px 15px;
    line-height: 30px;
    width: 90%;
  }
  .testimonial__quote {
    font-size: 1.4rem;
  }
  .testimonial__cite--name {
    font-size: 1.71rem;
  }
  .testimonial__photo {
    width: 90%;
    margin: 0 auto;
  }
  .testimonial__img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .carouselSection .slider__buttons {
    top: 79vw;
  }
}

@media (max-width: 400px) {
  .carouselSection .slider__buttons {
    width: 10rem;
    height: 4rem;
  }
}

@media (max-width: 1313px) {
  .aboutSection .bioContainer .bioDescriptionContainer h3 {
    font-size: 6.2rem;
    margin-bottom: 0;
  }
  .aboutSection .bioContainer .bioDescriptionContainer p {
    font-size: 1.7rem;
  }
}

@media (max-width: 1200px) {
  .aboutSection .bioContainer .bioDescriptionContainer p {
    width: 75%;
    margin-left: 20%;
  }
}

@media (max-width: 1135px) {
  .aboutSection .bioContainer .bioDescriptionContainer h3 {
    font-size: 5.2rem;
    margin-left: 10%;
  }
  .aboutSection .bioContainer .bioDescriptionContainer p {
    font-size: 1.8rem;
    width: 77%;
    margin-left: 10%;
  }
  .aboutSection figure img {
    left: 140px;
  }
  .aboutSection .bioContainer .roleContainer {
    right: 44%;
    left: -12%;
  }
}

@media (max-width: 1024px) {
  .aboutSection .bioContainer .bioDescriptionContainer h3 {
    font-size: 5.2rem;
    margin: 10px 0 0 0;
    margin-left: 10%;
  }
  .aboutSection .bioContainer .bioDescriptionContainer p {
    font-size: 1.8rem;
    width: 83%;
  }
  .aboutSection {
    background-position-x: 49%;
  }
  .aboutSection figure img {
    left: 0;
  }
  .aboutSection .bioContainer {
    position: static;
    left: 34%;
    margin-left: 254px;
  }
  .aboutSection .bioContainer .roleContainer {
    -ms-grid-columns: 100px 168px;
        grid-template-columns: 100px 168px;
    position: static;
    margin-left: -350px;
  }
}

@media (max-width: 857px) {
  .aboutSection .bioContainer .bioDescriptionContainer h3 {
    font-size: 4.2rem;
  }
  .aboutSection .bioContainer .bioDescriptionContainer p {
    font-size: 1.7rem;
  }
  .aboutSection {
    background-position-x: 49%;
  }
  .aboutSection figure img {
    width: 275px;
  }
  .aboutSection .bioContainer {
    margin-left: 172px;
  }
}

@media (max-width: 837px) {
  .aboutSection {
    background-image: url("../assets/tabletAboutSection.jpg");
    background-position-x: 50%;
  }
  .aboutSection .bioContainer .roleContainer {
    margin-left: -314px;
  }
}

@media (max-width: 700px) {
  .aboutSection #myPicture {
    content: url("../assets/aboutMePictureMobile.jpg") !important;
    width: 100%;
    height: 40%;
    -o-object-position: 0 33%;
       object-position: 0 33%;
  }
  .aboutSection h2 {
    margin-left: 0;
    padding-top: 0;
  }
  .aboutSection .bioContainer .bioDescriptionContainer {
    position: absolute;
    bottom: 6%;
    left: 0;
  }
  .aboutSection .bioContainer .bioDescriptionContainer h3 {
    margin: 0 auto;
    width: 83%;
    line-height: 60px;
  }
  .aboutSection .bioContainer .bioDescriptionContainer p {
    font-size: 1.7rem;
    margin: 0 auto;
  }
  .aboutSection {
    background-position-x: 49%;
  }
  .aboutSection figure img {
    width: 275px;
    top: 35px;
  }
  .aboutSection .bioContainer {
    position: absolute;
    margin-left: 0;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .aboutSection .roleContainer {
    margin-left: 0 !important;
    -ms-grid-columns: 250px !important;
        grid-template-columns: 250px !important;
    position: absolute !important;
    left: 0 !important;
    top: 31% !important;
  }
  .aboutSection .roleContainer img {
    display: none !important;
  }
  .aboutSection .roleContainer h4 {
    margin: 0 auto !important;
  }
}

@media (max-width: 579px) {
  .aboutSection {
    background-image: url("../assets/tabletBackground.jpg");
  }
  .aboutSection #myPicture {
    height: 37%;
  }
  .aboutSection .bioContainer {
    bottom: 10% !important;
  }
  .aboutSection .roleContainer {
    left: -1% !important;
    top: 31% !important;
  }
  .aboutSection .bioContainer .bioDescriptionContainer {
    bottom: 2% !important;
  }
  .aboutSection .bioContainer .bioDescriptionContainer h3 {
    margin: 0 auto;
    width: 83%;
    line-height: 50px !important;
  }
  .aboutSection .bioContainer .bioDescriptionContainer p {
    line-height: 32px !important;
  }
  .aboutSection .bioContainer .bioDescriptionContainer p:nth-child(3) {
    margin-top: 10px !important;
  }
}

@media (max-width: 515px) {
  .aboutSection .bioContainer .bioDescriptionContainer {
    bottom: -3% !important;
  }
}

@media (max-width: 480px) {
  .aboutSection .roleContainer {
    left: -3% !important;
    top: 32% !important;
  }
  .aboutSection .bioContainer .bioDescriptionContainer {
    bottom: -4% !important;
  }
  .aboutSection .bioContainer .bioDescriptionContainer p {
    font-size: 1.5rem;
  }
  .aboutSection .bioContainer .bioDescriptionContainer h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 425px) {
  .aboutSection .bioContainer .bioDescriptionContainer {
    bottom: -8% !important;
  }
}

@media (max-width: 383px) {
  .aboutSection #myPicture {
    height: 34%;
  }
  .aboutSection .roleContainer {
    top: 27% !important;
  }
  .aboutSection .bioContainer .bioDescriptionContainer p {
    width: 85%;
    font-size: 1.4rem;
  }
  .aboutSection .bioContainer .bioDescriptionContainer h3 {
    font-size: 3rem;
  }
}

@media (max-width: 344px) {
  .aboutSection .bioContainer .bioDescriptionContainer {
    bottom: -13% !important;
  }
  .aboutSection .bioContainer .bioDescriptionContainer h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1100px) {
  .contactSection {
    background-image: url("../assets/contactSmallDesktopBackground.jpg");
  }
  .contactSection .formSection h3 {
    margin: 0 auto;
  }
  .contactSection .contactMiddleContainer p {
    font-size: 16rem;
  }
  .contactSection .getInTouch h4, .contactSection .getInTouch p, .contactSection .getInTouch ul li {
    font-size: 1.8rem;
  }
}

@media (max-width: 942px) {
  .contactSection {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.5fr 1.5fr;
        grid-template-rows: 1fr 0.5fr 1.5fr;
    min-height: 80vh;
    gap: 0;
  }
  .contactSection h2 {
    left: 44%;
    padding-top: 25px;
    font-size: 3rem;
  }
  .contactSection .getInTouch {
    padding: 10rem 0 5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactSection .getInTouch h4, .contactSection .getInTouch p, .contactSection .getInTouch ul li {
    font-size: 2.2rem;
  }
  .contactSection .contactMiddleContainer {
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactSection .formSection h3 {
    margin-bottom: 40px;
  }
  .contactSection .formSection .formDetails #name, .contactSection .formSection .formDetails #email, .contactSection .formSection .formDetails #message,
  .contactSection .formSection .formDetails button {
    width: 60%;
  }
  .contactSection .formSection .formDetails button:hover, .contactSection .formSection .formDetails button:focus {
    color: red;
  }
}

@media (max-width: 642px) {
  .contactSection .contactMiddleContainer p {
    font-size: 12rem;
  }
  .contactSection h2 {
    left: 37%;
  }
}

@media (max-width: 497px) {
  .contactSection .contactMiddleContainer p {
    font-size: 9rem;
  }
  .contactSection .formSection .formDetails #name, .contactSection .formSection .formDetails #email, .contactSection .formSection .formDetails #message, .contactSection .formSection .formDetails button {
    width: 80%;
  }
}

@media (max-width: 382px) {
  .contactSection .contactMiddleContainer p {
    font-size: 6rem;
  }
  .contactSection .getInTouch h4, .contactSection .getInTouch p, .contactSection .getInTouch ul li {
    font-size: 1.5rem;
  }
  .contactSection .formSection h3 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
}
